body {
    overflow-y: hidden;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#sidebar {
    background: #218838;
}

.sidebarButton {
    background: #28a745;
}

.sidebarButton:hover {
    color: #218838;
}

.InfoTableRow:nth-child(odd) {
    background-color: #28a745;
}

#mainContentAppointments {
    overflow-y: auto;
}


/* APPOINTMENT PAGE*/
#buttonAppointments {
    margin-bottom: 2em;
}

#buttonPatients {
    margin-bottom: 2em;
}

.appointmentSection {
    text-align: center;
    width: 100%;
    margin-top: 2em;
}

.appointmentSection .col {
    width: max-content;
    max-width: max-content;
    min-width: max-content;
    display: inline-block;
}

.appointmentSection .scheda {
    width: max-content;
    max-width: 100%;
    min-width: min-content;
    text-align: center;
}

.appointmentSection .scheda .schedaBody {
    text-align: left;
    max-height: max-content;
}

#todayAppointments {
    border-bottom: 1px solid lightgray;
}

#inSospeso {
    border-bottom: 1px solid lightgray;
    padding-bottom: 2em;
}

#fatti {
    border-bottom: 1px solid lightgray;
    padding-bottom: 2em;
}

#oggi {
    margin-top: 2em;
}

#prossimamente {
    margin-top: 2em;
}

.alert {
    z-index: 49;
    width: max-content;
    max-width: 90%;
    min-width: min-content;
    position: fixed !important;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}


/* PATIENT LIST */

#doctorPagePatientsList {
    z-index: 8;
    width: 400px;
    overflow-y: auto;
    padding-top: 2em;
    border-right: 1px solid darkgray;
}

#search {
    width: 100%;
    margin-bottom: 2em;
}

#search::placeholder {
    text-align: center;
}

.schedaPaziente {
    z-index: 9;
    width: 100%;
    max-width: 100%;
    min-width: min-content;
}

.schedaPaziente.hidden {
    display: none;
}

.schedaImg {
    padding: 1em 0.5em 0.5em;
    margin: 0 auto;
    width: max-content;
}

.profileImage {
    z-index: 1001;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 3px solid white;
    user-select: none;
    object-fit: cover;
    margin: 0 auto;
}

.schedaPazienteBody {
    margin: auto;
    padding-right: 0.5em;
    padding-left: 0.5em;
}


/* PATIENT INFO */
#doctorPagePatientInfo {
    background-color: white;
    z-index: 10;
    transition: all 0.3s;
    position: relative;
    overflow-y: auto;
    padding-right: 0;
    padding-left: 0;
}

#doctorPagePatientInfo.active {
    position: relative;
}

#closePatient {
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 48;
}

#patientHistory {
    height: 100%;
    padding-top: 2em;
    background-color: white;
    overflow-y: auto;
}

#patientGeneralInfo {
    height: 100%;
    overflow-y: auto;
    padding-top: 2em;
    padding-right: 0;
    padding-left: 0;
    background-color: white;
}

#patientInfoTable .InfoTableRow:nth-child(odd) {
    background-color: #f8f9fa;
}

#patientInfoTable .InfoTableCol:nth-child(2) {
    text-align: left;
}

#patientInfoTable {
    width: 95%;
    border: 1px solid #f8f9fa;
    border-radius: 0.3rem;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
}

#buttonCompilaVisita {
    margin-bottom: 3em;
}

@media screen and (max-width: 1060px) {

    #doctorPagePatientInfo {
        position: absolute;
        right: -100%;
    }

    #doctorPagePatientInfo.active {
        position: absolute;
        right: 0;
        max-width: 100%;
        width: 100%;
    }

    #doctorPagePatientsList {
        position: absolute;
        max-width: 100%;
        width: 100%;
    }

    #closePatient {
        visibility: visible;
    }
}

@media screen and (max-width: 575px) {
    #patientInfoTable {
        border-top: 1px solid #f8f9fa;
        border-bottom: 1px solid #f8f9fa;
        border-radius: 0;
        width: 100%;
    }
    .schedaImg {
        width: 100%;
    }
    .schedaPazienteBody {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #patientHistory {
        height: max-content;
    }
    #patientGeneralInfo {
        height: max-content;
    }
}