body {
    overflow-y: hidden;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#sidebar {
    background: #218838;
}

.sidebarButton {
    background: #28a745;
}

.sidebarButton:hover {
    color: #218838;
}

.InfoTableRow:nth-child(odd) {
    background-color: #28a745;
}

#mainContentAppointments {
    overflow-y: auto;
}


/* APPOINTMENT PAGE*/
#buttonAppointments {
    margin-bottom: 2em;
}

#buttonPatients {
    margin-bottom: 2em;
}

.appointmentSection {
    text-align: center;
    width: 100%;
    margin-top: 2em;
}

.appointmentSection .col {
    width: max-content;
    max-width: max-content;
    min-width: max-content;
    display: inline-block;
}

.appointmentSection .scheda {
    width: max-content;
    max-width: 100%;
    min-width: min-content;
    text-align: center;
}

.appointmentSection .scheda .schedaBody {
    text-align: left;
    max-height: max-content;
}

#todayAppointments {
    border-bottom: 1px solid lightgray;
}

#inSospeso {
    border-bottom: 1px solid lightgray;
    padding-bottom: 2em;
}

#fatti {
    border-bottom: 1px solid lightgray;
    padding-bottom: 2em;
}

#oggi {
    margin-top: 2em;
}

#prossimamente {
    margin-top: 2em;
}

.alert {
    z-index: 48;
    width: max-content;
    max-width: 90%;
    min-width: min-content;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}


/* PATIENT LIST */

#doctorPagePatientsList {
    width: 400px;
    overflow-y: auto;
    padding-top: 2em;
}

.schedaPatient {
    width: 100%;
    max-width: 100%;
    min-width: min-content;
}

.schedaImg {
    padding: 1em 0.5em 0.5em;
    margin: 0 auto;
    width: max-content;
}

.profileImage {
    z-index: 1001;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 3px solid white;
    user-select: none;
    object-fit: cover;
    margin: 0 auto;
}

.schedaPatientBody {
    margin: auto;
    padding-right: 0.5em;
    padding-left: 0.5em;
}