<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>profileImgsPath</param-name>
        <param-value>C:\Users\Bob\Desktop\ProgettoWeb\profileImgs</param-value>
    </context-param>

    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://localhost:3306/sistemasanitario</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbpassword</param-name>
        <param-value/>
    </context-param>







    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.unitn.aa1920.webprogramming.sistemasanitario.Listeners.WebAppContextListener</listener-class>
    </listener>








    <filter>
        <filter-name>checkIfNotLogged</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.checkIfNotLogged</filter-class>
    </filter>

    <filter>
        <filter-name>checkIfAlreadyLogged</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.checkIfAlreadyLogged</filter-class>
    </filter>

    <filter>
        <filter-name>checkIfDoctor</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.checkIfDoctor</filter-class>
    </filter>

    <filter>
        <filter-name>fillUserData</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.fillUserData</filter-class>
    </filter>
    
    <filter>
        <filter-name>fillVisitData</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.fillVisitData</filter-class>
    </filter>

    <filter>
        <filter-name>fillRecipeData</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.fillRecipeData</filter-class>
    </filter>

    <filter>
        <filter-name>fillExamData</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.fillExamData</filter-class>
    </filter>

    <filter>
        <filter-name>fillDoctorData</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.fillDoctorData</filter-class>
    </filter>

    <filter>
        <filter-name>fillDoctorAppointmentsData</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.fillDoctorAppointmentsData</filter-class>
    </filter>

    <filter>
        <filter-name>fillDoctorPatientsData</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.fillDoctorPatientsData</filter-class>
    </filter>

    <filter>
        <filter-name>fillPatientData</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.fillPatientData</filter-class>
    </filter>

    <filter>
        <filter-name>fillPatientForVisit</filter-name>
        <filter-class>it.unitn.aa1920.webprogramming.sistemasanitario.Filters.fillPatientForVisit</filter-class>
    </filter>







    <filter-mapping>
        <filter-name>checkIfAlreadyLogged</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/userPage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillUserData</filter-name>
        <url-pattern>/userPage</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/logoutServlet</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfAlreadyLogged</filter-name>
        <url-pattern>/loginServlet</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/doctorPage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkIfDoctor</filter-name>
        <url-pattern>/doctorPage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillDoctorData</filter-name>
        <url-pattern>/doctorPage</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/changeDoctorServlet</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/changeProfileImgServlet</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/profileImage/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/visitData</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillVisitData</filter-name>
        <url-pattern>/visitData</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/recipeData</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillRecipeData</filter-name>
        <url-pattern>/recipeData</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/examData</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillExamData</filter-name>
        <url-pattern>/examData</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/recipePDF</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillRecipeData</filter-name>
        <url-pattern>/recipePDF</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/recipeQR</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillRecipeData</filter-name>
        <url-pattern>/recipeQR</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/doctorPageAppointments</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkIfDoctor</filter-name>
        <url-pattern>/doctorPageAppointments</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillDoctorAppointmentsData</filter-name>
        <url-pattern>/doctorPageAppointments</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/doctorPagePatients</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkIfDoctor</filter-name>
        <url-pattern>/doctorPagePatients</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/enterExamData</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkIfDoctor</filter-name>
        <url-pattern>/enterExamData</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillExamData</filter-name>
        <url-pattern>/enterExamData</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/modifyExam</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkIfDoctor</filter-name>
        <url-pattern>/updateExamServlet</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/doctorPagePatientsList</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkIfDoctor</filter-name>
        <url-pattern>/doctorPagePatientsList</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillDoctorPatientsData</filter-name>
        <url-pattern>/doctorPagePatientsList</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/ticketsPDF</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/changePasswordServlet</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/doctorPagePatientInfo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkIfDoctor</filter-name>
        <url-pattern>/doctorPagePatientInfo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillPatientData</filter-name>
        <url-pattern>/doctorPagePatientInfo</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/enterVisitData</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkIfDoctor</filter-name>
        <url-pattern>/enterVisitData</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fillPatientForVisit</filter-name>
        <url-pattern>/enterVisitData</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>checkIfNotLogged</filter-name>
        <url-pattern>/enterVisitDataServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>checkIfDoctor</filter-name>
        <url-pattern>/enterVisitDataServlet</url-pattern>
    </filter-mapping>










    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.loginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>loginPage</servlet-name>
        <jsp-file>/views/login.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>userPage</servlet-name>
        <jsp-file>/views/userPage.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.logoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>doctorPage</servlet-name>
        <jsp-file>/views/doctorPage.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>changeDoctorServlet</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.changeDoctorServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>changeProfileImgServlet</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.changeProfileImgServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>profileImage</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.profileImage</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>visitData</servlet-name>
        <jsp-file>/views/visitData.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>recipeData</servlet-name>
        <jsp-file>/views/recipeData.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>examData</servlet-name>
        <jsp-file>/views/examData.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>recipePDF</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.recipePDF</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>recipeQR</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.recipeQR</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>doctorPageAppointments</servlet-name>
        <jsp-file>/views/doctorPageAppointments.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>doctorPagePatients</servlet-name>
        <jsp-file>/views/doctorPagePatients.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>enterExamData</servlet-name>
        <jsp-file>/views/enterExamData.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>updateExamServlet</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.updateExamServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>doctorPagePatientsList</servlet-name>
        <jsp-file>/views/doctorPagePatientsList.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>doctorPagePatientInfo</servlet-name>
        <jsp-file>/views/doctorPagePatientInfo.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>ticketsPDF</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.ticketsPDF</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.changePasswordServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>enterVisitData</servlet-name>
        <jsp-file>/views/enterVisitData.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>enterVisitDataServlet</servlet-name>
        <servlet-class>it.unitn.aa1920.webprogramming.sistemasanitario.Servlets.enterVisitDataServlet</servlet-class>
    </servlet>







    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>loginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userPage</servlet-name>
        <url-pattern>/userPage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>doctorPage</servlet-name>
        <url-pattern>/doctorPage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>changeDoctorServlet</servlet-name>
        <url-pattern>/changeDoctorServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>changeProfileImgServlet</servlet-name>
        <url-pattern>/changeProfileImgServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>profileImage</servlet-name>
        <url-pattern>/profileImage/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>visitData</servlet-name>
        <url-pattern>/visitData</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>recipeData</servlet-name>
        <url-pattern>/recipeData</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>examData</servlet-name>
        <url-pattern>/examData</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>recipePDF</servlet-name>
        <url-pattern>/recipePDF</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>recipeQR</servlet-name>
        <url-pattern>/recipeQR</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>doctorPageAppointments</servlet-name>
        <url-pattern>/doctorPageAppointments</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>doctorPagePatients</servlet-name>
        <url-pattern>/doctorPagePatients</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>enterExamData</servlet-name>
        <url-pattern>/enterExamData</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateExamServlet</servlet-name>
        <url-pattern>/updateExamServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>doctorPagePatientsList</servlet-name>
        <url-pattern>/doctorPagePatientsList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>doctorPagePatientInfo</servlet-name>
        <url-pattern>/doctorPagePatientInfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ticketsPDF</servlet-name>
        <url-pattern>/ticketsPDF</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/changePasswordServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>enterVisitData</servlet-name>
        <url-pattern>/enterVisitData</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>enterVisitDataServlet</servlet-name>
        <url-pattern>/enterVisitDataServlet</url-pattern>
    </servlet-mapping>










    <error-page>
        <error-code>404</error-code>
        <location>/errors/notFoundError.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.io.FileNotFoundException</exception-type>
        <location>/errors/notFoundError.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/errors/serverError.jsp</location>
    </error-page>

    <error-page>
        <error-code>400</error-code>
        <location>/errors/badRequestError.jsp</location>
    </error-page>

    <error-page>
        <error-code>401</error-code>
        <location>/errors/unauthorizedError.jsp</location>
    </error-page>






    <welcome-file-list>
        <welcome-file>/views/index.jsp</welcome-file>
    </welcome-file-list>


</web-app>
